


@font-face{
  font-family:ProggyTiny;
  src:url(proggy-tiny/ProggyTiny.ttf);
}



body{background:#000;}



#wrktr4k{
	position:absolute;
	left:0px;
	top:32px;
  margin:0px;
  padding:32px;
	font-family:ProggyTiny;
  font-size:32px;
	line-height:1.05;
  background:#111;
}

#wrktr4k note{
  display:inline-block;
  width:100%;
  margin:0px;
  padding:0px;
	line-height:0.9;
  color:#0f0;
}
#wrktr4k note::before{content: '📝 ';}

#wrktr4k p{
  display:inline-block;
  width:64px;
  margin:0px;
  margin-top:15px;
  margin-bottom:10px;
  padding:0px;
  text-align:center;
  font-size:32px;
  line-height:1.0;
  color:#fff;
  text-shadow:
    -1px 0px 0px #111, 0px -1px 0px #111, 0px 1px 0px #111, 1px 0px 0px #111,
    -1px -1px 1px #111, -1px 1px 1px #111, 1px -1px 1px #111, 1px 1px 1px #111
  ;
}



.year{
  background-image:linear-gradient(to bottom, #f00 50%, #f0f 100%);
  border:4px solid #f0f;
}
.year::before{font-size:32px;content:'⬆️ ⬅️ ';}

.month{
  background-image:linear-gradient(to bottom, #00f 25%, #0f0 100%);
  border:4px solid #0f0;
}
.month::before{font-size:32px;content:'⬅️ ';}




.w0{
  background-image:linear-gradient(to bottom, #000 1%, #111 100%);
}
.w0::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#000;
  content:'💤';
}

.w1{
  background-image:linear-gradient(to bottom, #000 1%, #131 100%);
}
.w1::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#020;
  content:'🐇';
}

.w2{
  background-image:linear-gradient(to bottom, #000 1%, #151 100%);
}
.w2::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#040;
  content:'🐇';
}

.w3{
  background-image:linear-gradient(to bottom, #000 1%, #171 100%);
}
.w3::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#060;
  content:'🐎';
}

.w4{
  background-image:linear-gradient(to bottom, #000 1%, #191 100%);
}
.w4::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#080;
  content:'🐎';
}

.w5{
  background-image:linear-gradient(to bottom, #000 1%, #1b1 100%);
}
.w5::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#0a0;
  content:'🐺';
}

.w6{
  background-image:linear-gradient(to bottom, #000 1%, #1d1 100%);
}
.w6::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#0c0;
  content:'🐺';
}

.w7{
  background-image:linear-gradient(to bottom, #000 1%, #1f1 100%);
}
.w7::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#0f0;
  content:'🐉';
}

.w8{
  background-image:linear-gradient(to bottom, #000 1%, #3f1 100%);
}
.w8::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#0f0;
  content:'🐉';
}

.w9{
  background-image:linear-gradient(to bottom, #000 1%, #5f1 100%);
}
.w9::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#8f0;
  content:'👺';
}

.w10{
  background-image:linear-gradient(to bottom, #000 1%, #7f1 100%);
}
.w10::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#ff0;
  content:'👺';
}

.w11{
  background-image:linear-gradient(to bottom, #000 1%, #9f1 100%);
}
.w11::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f80;
  content:'💀';
}

.w12{
  background-image:linear-gradient(to bottom, #400 1%, #bf1 100%);
}
.w12::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f40;
  content:'💀';
}

.w13{
  background-image:linear-gradient(to bottom, #800 1%, #df1 100%);
}
.w13::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f20;
  content:'💀';
}

.w14{
  background-image:linear-gradient(to bottom, #b00 1%, #ff1 100%);
}
.w14::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w15{
  background-image:linear-gradient(to bottom, #f00 1%, #bb1 100%);
}
.w15::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w16{
  background-image:linear-gradient(to bottom, #f00 1%, #881 100%);
}
.w16::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w17{
  background-image:linear-gradient(to bottom, #f00 1%, #441 100%);
}
.w17::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w18{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w18::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w19{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w19::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w20{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w20::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w21{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w21::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w22{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w22::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w23{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w23::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}

.w24{
  background-image:linear-gradient(to bottom, #f00 1%, #000 100%);
}
.w24::before{
  font-size:64px;
  padding-top:20px;
  padding-bottom:10px;
  background:#f00;
  content:'💀';
}



mor5::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0f0;
  content:'🌞';
}
mor4::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#8f0;
  background-image:url('i/wt1.png');
  content:'😎';
}
mor3::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#ff0;
  background-image:url('i/wt2.png');
  content:'🙂';
}
mor2::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f80;
  background-image:url('i/wt3.png');
  content:'😑';
}
mor1::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f00;
  background-image:url('i/wt4.png');
  content:'😞';
}



tas5::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0f0;
  content:'🐝';
}
tas4::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0f8;
  background-image:url('i/wt1.png');
  content:'🦉';
}
tas3::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0ff;
  background-image:url('i/wt2.png');
  content:'🐗';
}
tas2::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#08f;
  background-image:url('i/wt3.png');
  content:'🐕';
}
tas1::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#00f;
  background-image:url('i/wt4.png');
  content:'🐬';
}



acc5::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0f0;
  content:'❤️‍🔥';
}
acc4::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#8f0;
  background-image:url('i/wt1.png');
  content:'💖';
}
acc3::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#ff0;
  background-image:url('i/wt2.png');
  content:'❤️';
}
acc2::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f80;
  background-image:url('i/wt3.png');
  content:'🫀';
}
acc1::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f00;
  background-image:url('i/wt4.png');
  content:'💔';
}



eff5::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#0f0;
  content:'☀️';
}
eff4::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#8f0;
  background-image:url('i/wt1.png');
  content:'⭐';
}
eff3::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#ff0;
  background-image:url('i/wt2.png');
  content:'🌙';
}
eff2::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f80;
  background-image:url('i/wt3.png');
  content:'🪵';
}
eff1::before{
  font-size:32px;
  padding-top:10px;
  padding-bottom:5px;
  background:#f00;
  background-image:url('i/wt4.png');
  content:'🧱';
}



art::before{
  font-size:16px;
  content:'🎨';
}
cho::before{
  font-size:16px;
  content:'🧹';
}
cod::before{
  font-size:16px;
  content:'💻';
}
mus::before{
  font-size:16px;
  content:'🎵';
}
oth::before{
  font-size:16px;
  content:'🛠️';
}
wri::before{
  font-size:16px;
  content:'✒️';
}



inj::before{
  font-size:16px;
  content:'🤕';
}
sic::before{
  font-size:16px;
  content:'😷';
}
vsi::before{
  font-size:16px;
  content:'🤢';
}



